* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.card-container {
  display: flex;
  overflow-x: auto;
}

footer {
  margin: 5rem 0rem 0rem 50rem;
}

@media only screen and (max-width: 640px) and (orientation: portrait) {
  .card-container {
    width: 23rem;
    margin: 50px 0px 0px 0px;
  }

  footer {
    margin: 7rem 0rem 0rem 8rem;
  }
}
